.wrapper {
    margin-top: 2rem !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    width: 62.5rem !important;
    display: block !important;
    justify-content: start;
    align-items: center;
}

.titulo{
    font-weight: 700 !important;
    color: #311919;
    font-size: 3em;
    margin-bottom: 25px !important;
}



.body-box{
    margin: 50px;
    display: flexbox !important;
}

.subtitle {
    text-transform: uppercase !important;
    font-size: 1.2em !important;
    font-weight: 700 !important;
}



.custom-form {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}

.top {
    display: flex;
    flex-direction: row !important;
    margin-bottom: 50px;
    justify-content: center;
}

.top label {
    display: flex;
    flex-direction: row !important;
    margin-top: 25px;
    justify-content: center;
}

.top input, select {
    width: 30rem;
    height: 50px;
}

.left {
    display: flex;
    flex-direction: column !important;
    margin-right: 20px;
}


.left .upload-box input {
    font-size: 16px;
    background: #8d4747;
    border-radius: 15px;
    width: 350px;
    box-shadow: 1px 0 1px 1px #6b4559;
    outline: none;
    display: none;
    visibility: none;
}

::-webkit-file-upload-button {
    padding: 20px;
    border-radius: 15px;
    outline: none;
    height: 50px;
    width: 180px;
    background: #FFFFFF;
    box-shadow: none;
}
::-webkit-file-upload-button:hover {
    box-shadow: 0px 50px 100px -20px #32325d40, 0px 30px 60px -30px #0000004d, inset 0px -2px 6px #0a254059;
}


.right {
    display: flex;
    flex-direction: column !important;
    margin-right: 20px;
}

.et {
    display: flex !important;
    width: 62.5rem !important;
    flex-direction: row !important;
    margin-bottom: 50px;
}


.bottom {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    margin-bottom: 50px;
}

.bottom label {
    display: flex;
    flex-direction: row !important;
    justify-content: center !important;
}

.select {
    width: 62.5rem !important;
    font-size: 12px;
    background-color: #FFEDD5;
    text-align-last: center !important;
}

.bottom select option {
    display: inline-block !important;
    padding-left: 10px;
    padding-right: 10px;
}

.bottom select option:hover {
    color: #8D4747;
    font-weight: 800;
}




.btn-orange{
    justify-content: center;
    z-index: 100;
    background-color: #FE9920;
    color: white;
}

.btn-orange:hover{
    background-color: #be6136;
    color: white;
}

@media (max-width: 1000px)
{
    .box{
        width: 80vw;
    }
}